body{
    margin: 0 2%;
    margin: 0;
    font-family: Noto sans jp sans-serif;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(252, 9, 9);
    position: sticky;
    top: 0;
    width: 200vh;
    height: 90px;
}
nav.color{
    display: flex;
    align-items: center;

}
nav .color img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
nav .color h1{
    margin-left: 40px;
    font-size: 20px;
    flex-wrap: wrap;
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav ul li {
    margin-left: 10%;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    justify-content: left;
}
.moi{
    margin: 4%;
    border: 1px solid black;
    width: 50%;
}
.moi h1{
    border: 
}
 .moi h2 img {
    width: 100px;
    height:100px;
    border-radius: 50%;
    justify-content: center;
 }
 .moi p {
    border-radius: 100%;
 }
section{
    margin: 4%;
}
.form-contenaire{
    margin: 4%;
    justify-content: center;
}
.tot{
    justify-content: center ;
    display: flex;
}